---Nguyen Le Thanh Cong

---Tao CSDL
CREATE DATABASE QuanLyNhanSu

---Sử dụng CSDL
USE QuanLyNhanSu

--tao bang NHAN VIEN
CREATE TABLE NHANVIEN
(
	MaNV VARCHAR(20) PRIMARY KEY, HoTen NVARCHAR(50), NgaySinh DATE, QueQuan NVARCHAR(100), GioiTinh NCHAR(5),
	DanToc NVARCHAR(20),SDT INT ,MaPB VARCHAR(20),MaCV VARCHAR(20), MaTDHV VARCHAR(20), BacLuong FLOAT,
	NgayTangLuong DATE
)
GO
--tao bang PHONG BAN
CREATE TABLE PHONGBAN
(
	MaPB VARCHAR(20) PRIMARY KEY, TenPB NVARCHAR(30),DiaChi NVARCHAR(20),SDTPB INT
)
GO
--tao bang CHUC VU
CREATE TABLE CHUCVU
(
	MaCV VARCHAR(20) PRIMARY KEY, TenCV NVARCHAR(30)
)
GO
--tao bang TRINH DO HOC VAN
CREATE TABLE TRINHDOHOCVAN
(
	MaTDHV VARCHAR(20) PRIMARY KEY, TenTDHV NVARCHAR(20), ChuyenNganh NVARCHAR(30)
)
GO
--tao bang LUONG
CREATE TABLE LUONG
(
	BacLuong FLOAT PRIMARY KEY, LuongCB INT , HSLUONG FLOAT, HSPhuCap INT
)
GO
--tao bang HOP DONG LAO DONG
CREATE TABLE HOPDONGLAODONG
(
	MaHD VARCHAR (20) PRIMARY KEY, MaNV VARCHAR (20), LoaiHD NVARCHAR(20), NgayBatDau DATE, NgayKetThuc DATE ,
)
GO

--TAO KHOA NGOAI
ALTER TABLE NHANVIEN ADD CONSTRAINT FK_PB_NV FOREIGN KEY (MaPB) REFERENCES  PHONGBAN(MaPB)
ALTER TABLE NHANVIEN ADD CONSTRAINT FK_CV_NV FOREIGN KEY (MaCV) REFERENCES  CHUCVU(MaCV)
ALTER TABLE NHANVIEN ADD CONSTRAINT FK_TDHV_NV FOREIGN KEY (MaTDHV) REFERENCES  TRINHDOHOCVAN(MaTDHV)
ALTER TABLE NHANVIEN ADD CONSTRAINT FK_LUONG_NV FOREIGN KEY (BacLuong) REFERENCES  LUONG(BacLuong)
ALTER TABLE HOPDONGLAODONG ADD CONSTRAINT FK_HDLD_NV FOREIGN KEY (MaNV) REFERENCES  NHANVIEN(MaNV)
--tao storeprocedure
--lay danh sach nhan vien

--TAO STOREPROCEDUE CHO LUONG
--LAY LUONG
CREATE PROC SP_LAYDSLUONG
AS
SELECT * FROM LUONG
GO

--THEM LUONG
CREATE PROC SP_THEMLUONG(@BACLUONG INT, @LUONGCB INT, @HSLuong INT, @PHUCAP INT)
AS
INSERT INTO LUONG(BacLuong, LuongCB, HSLUONG, HSPhuCap)
VALUES (@BACLUONG, @LUONGCB, @HSLuong, @PHUCAP)
GO

--SUA LUONG
CREATE PROC SP_SUALUONG(@BACLUONG INT, @LUONGCB INT, @HSLuong INT, @PHUCAP INT)
AS
UPDATE LUONG
SET LuongCB = @LUONGCB, HSLUONG = @HSLuong, HSPhuCap = @PHUCAP
WHERE BacLuong = @BACLUONG
GO

---THUC HIEN CHUC NANG PROC LUONG
EXEC SP_THEMLUONG 2, 15000000,50000,100000
GO
EXEC SP_LAYDSLUONG
GO
EXEC SP_SUALUONG 2, 10000000, 30000, 20000
GO

--TAO STOREPROCEDUE CHO HOPDONGLAODONG
--LAY HOPDONGLAODONG
/*CREATE PROC SP_LAYDSHDLD
AS
SELECT * FROM HOPDONGLAODONG
GO

--THEM HDLD
CREATE PROC SP_THEMHDLD(@MAHD VARCHAR (20), @MANV VARCHAR (20), @LOAIHD NVARCHAR(20), @NGAYBATDAU DATE, @NGAYKETTHUC DATE)
AS
INSERT INTO HOPDONGLAODONG(MaHD, MaNV, LoaiHD, NgayBatDau, NgayKetThuc)
VALUES (@MAHD, @MANV, @LOAIHD, @NGAYBATDAU, @NGAYKETTHUC)
GO

--SUA HDLD
CREATE PROC SP_SUAHDLD(@MAHD VARCHAR (20), @MANV VARCHAR (20), @LOAIHD NVARCHAR(20), @NGAYBATDAU DATE, @NGAYKETTHUC DATE)
AS
UPDATE HOPDONGLAODONG
SET MaNV = @MANV, LoaiHD = @LOAIHD, NgayBatDau = @NGAYBATDAU, NgayKetThuc = @NGAYKETTHUC
WHERE MaHD = @MAHD
GO

---THUC HIEN CHUC NANG PROC HOPDONGLAODONG
EXEC SP_THEMHDLD 'ABC', '17211TT123', 'DAI HAN', '12/5/2016', '12/5/2017'
EXEC SP_LAYDSHDLD
EXEC SP_SUAHDLD 'ABC', '17211TT123', 'DAI HAN', '12/5/2016', '12/5/2021'*/