-----tao csdldrop table CHUCVU-----
CREATE DATABASE QuanLyNhanSu
GO
------su dung csdl-----
USE QuanLyNhanSu
GO
----tao bang PHONG BAN--
CREATE TABLE PHONGBAN
(
	MaPB VARCHAR(20) PRIMARY KEY, TenPB NVARCHAR(30),DiaChi NVARCHAR(20),SDTPB INT
)
GO
----CHEN DU LIEU CHO BANG PHONG BAN----
INSERT INTO PHONGBAN VALUES('PBTK', N'Phòng Kế toán',N'Bình Thạnh tp.HCM', 0367322878)
GO
---Tao storeprocedure PHONG BAN---
---SP_LAY DANH SACH PHONG BAN---
CREATE PROC SP_LAYDANHSACHPHONGBAN
  AS
   SELECT * FROM PHONGBAN
GO
---SP_THEM PHONG BAN----
CREATE PROC SP_THEMPHONGBAN(@MaPB VARCHAR(20), @TenPB NVARCHAR(30),@DiaChi NVARCHAR(20),@SDTPB INT)
   AS 
    INSERT INTO PHONGBAN(MaPB , TenPB , DiaChi , SDTPB)
    VALUES(@MaPB , @TenPB , @DiaChi , @SDTPB)
GO
---TEST THEM PHONG BAN---
EXEC SP_THEMPHONGBAN N'PBBV', N'Phòng Bảo Vệ',N'Thủ Đức', 0962223453
EXEC SP_THEMPHONGBAN N'PBHG', N'PhòngGDGFD Vệ',N'Thủ Đức', 0962223453
EXEC SP_THEMPHONGBAN N'PBGH', N'Phòng DFGD Vệ',N'Thủ Đức', 0962223453
GO
---XEM KHI DA THEM---
EXEC SP_LAYDANHSACHPHONGBAN
GO
---SP_SUA PHONG BAN---
CREATE PROCEDURE SP_SUAPHONGBAN(@MaPB VARCHAR(20),@TenPB NVARCHAR(30),@DiaChi NVARCHAR(20),@SDTPB INT)
   AS
    UPDATE PHONGBAN
    SET TenPB=@TenPB , DiaChi=@DiaChi ,SDTPB = @SDTPB
    WHERE MaPB = @MaPB
GO
---TESTSUA PHONG BAN--- 
EXEC SP_SUAPHONGBAN N'PBBV', N'Phòng Bảo Vệ',N'HAI PHONG', 0962223453
GO
---XEM LAI KHI SUA---
EXEC SP_LAYDANHSACHPHONGBAN
GO
---SP_XOA PHONG BAN DUA VAO MAPB---
CREATE PROC SP_XOAMOTPHONGBAN @MaPB VARCHAR(20)
AS
  DELETE PHONGBAN WHERE MaPB = @MaPB
GO
---TEST XOA
EXEC SP_XOAMOTPHONGBAN N'PBBV'
GO
---XEM LAI KHI XOA---
EXEC SP_LAYDANHSACHPHONGBAN
GO
----tao bang CHUC VU----
CREATE TABLE CHUCVU
(
	MaCV VARCHAR(20) PRIMARY KEY, TenCV NVARCHAR(30)
)
GO
----CHEN DU LIEU CHO BANG CHUC VU----
INSERT INTO CHUCVU VALUES('TKCV', N'Thư Kí')
INSERT INTO CHUCVU VALUES('GDCV', N'GIÁM ĐỐC')
INSERT INTO CHUCVU VALUES('KTCV', N'Kế Toán')
GO
---Tao storeprocedure CHUC VU---
---SP_LAY DANH SACH CHUC VU---
CREATE PROC SP_LAYDANHSACHCHUCVU
 AS
 SELECT * FROM CHUCVU
 GO
---SP_THEM CHUC VU---
CREATE PROC SP_THEMCHUCVU(@MaCV VARCHAR(20), @TenCV NVARCHAR(30))
   AS 
    INSERT INTO CHUCVU(MaCV, TenCV)
    VALUES(@MaCV , @TenCV)
GO
---TEST THEM CHUC VU---
EXEC SP_THEMCHUCVU 'BVCV', N'Bảo Vệ'
GO
---XEM KHI DA THEM---
EXEC SP_LAYDANHSACHCHUCVU
GO
---SP_SUA CHUC VU---
CREATE PROCEDURE SP_SUACHUCVU(@MaCV VARCHAR(20), @TenCV NVARCHAR(30))
   AS
    UPDATE CHUCVU
    SET TenCV=@TenCV
    WHERE MaCV = @MaCV
---TEST  SUA CHUC VU--- 
GO
EXEC SP_SUACHUCVU 'BVCV', N'NHANSU'
GO
---XEM LAI KHI SUA---
EXEC SP_LAYDANHSACHCHUCVU
GO
---SP_XOA CHUC VU DUA VAO MAPB---
CREATE PROC SP_XOAMOTCHUCVU @MaCV VARCHAR(20)
AS
  DELETE CHUCVU WHERE MaCV = @MaCV
GO
---TEST XOA
EXEC SP_XOAMOTCHUCVU 'BVCV'
GO
---XEM LAI KHI XOA---
EXEC SP_LAYDANHSACHCHUCVU
GO
----tao bang TRINH DO HOC VAN----
CREATE TABLE TRINHDOHOCVAN
(
	MaTDHV VARCHAR(20) PRIMARY KEY, TenTDHV NVARCHAR(20), ChuyenNganh NVARCHAR(30)
)
 GO
----DU LIEU BANG TRINH DO HOC VAN----
INSERT INTO TRINHDOHOCVAN VALUES('CD_TDHV',N'Cao Đẳng',N'Cơ Điện')  
INSERT INTO TRINHDOHOCVAN VALUES('DH_TDHV',N'Đại Học',N'Maketing')  
INSERT INTO TRINHDOHOCVAN VALUES('TS_TDHV',N'Tiến Sĩ',N'Tiếng Nhật')
GO
---Tao storeprocedure TRINH DO HOC VAN---
---SP_LAY DANH SACH TRINH DO HOC VAN---
 CREATE PROC SP_LAYDANHSACHTRINHDOHOCVAN
 AS
 SELECT * FROM TRINHDOHOCVAN
 GO
 ---SP_THEMTRINHDOHOCVAN---
CREATE PROC SP_THEMTRINHDOHOCVAN(@MaTDHV VARCHAR(20), @TenTDHV NVARCHAR(20), @ChuyenNganh NVARCHAR(30))
   AS 
    INSERT INTO TRINHDOHOCVAN(MaTDHV , TenTDHV, ChuyenNganh)
    VALUES(@MaTDHV , @TenTDHV, @ChuyenNganh)
GO
 ---TEST THEMTRINHDOHOCVAN---
EXEC SP_THEMTRINHDOHOCVAN 'TC_TDHV',N'Trung Cấp',N'Cơ Điện'
GO
---XEM KHI DA THEM---
EXEC SP_LAYDANHSACHTRINHDOHOCVAN
GO
---SP_SUA TRINHDOHOCVAN---
CREATE PROCEDURE SP_SUATRINHDOHOCVAN(@MaTDHV VARCHAR(20), @TenTDHV NVARCHAR(20), @ChuyenNganh NVARCHAR(30))
   AS
    UPDATE TRINHDOHOCVAN
    SET TenTDHV =@TenTDHV, ChuyenNganh = @ChuyenNganh
    WHERE MaTDHV = @MaTDHV
GO
---TESTSUA TRINHDOHOCVAN--- 
EXEC SP_SUATRINHDOHOCVAN 'CD_TDHV',N'Đại Học',N'Ô Tô'
GO
---XEM LAI KHI SUA---
EXEC SP_LAYDANHSACHTRINHDOHOCVAN
GO
---SP_XOA TRINH DO HOC VAN DUA VAO MaTDHV---
CREATE PROC SP_XOAMOTTRINHDOHOCVAN @MaTDHV VARCHAR(20)
AS
  DELETE TRINHDOHOCVAN WHERE MaTDHV = @MaTDHV
GO
---TEST XOA
EXEC SP_XOAMOTTRINHDOHOCVAN 'CD_TDHV'
GO
---XEM LAI KHI XOA---
EXEC SP_LAYDANHSACHTRINHDOHOCVAN