---lê thành---
---17/10/2018---
USE QLNhanSu
--TẠO BẢNG PHÒNG BAN--
CREATE TABLE PHONGBAN(
   MAPB CHAR(10) PRIMARY KEY,
   TENPB NVARCHAR(30),
   DIACHI NVARCHAR,
   SODIENTHOAIPB INT
)
--TẠO BẢNG CHỨC VỤ--
CREATE TABLE CHUCVU(
   MACV CHAR(10) PRIMARY KEY,
   TENCV NVARCHAR(30)
)
--TẠO BẢNG TRÌNH ĐỌ HỌC VẤN---
CREATE TABLE TRINHDOHOCVAN(
   MATDHV CHAR(10) PRIMARY KEY,
   TENTDHV NVARCHAR(30),
   CHUYENNGANH NVARCHAR(30)  
)
--CHEN MAU BANG PHONG BAN--
INSERT INTO PHONGBAN(MAPB, TENPB ,DIACHI , SODIENTHOAIPB) VALUES('BV1', 'Hồ Quý Tùng','152 Võ Văn Ngân,Linh Trung, Thủ Đức', 0962223453)